*{
    box-sizing: border-box;
}

.header{
    padding: 50px;
    text-align: left;
    background-image: url('./images/header/Path\ 1361@2x.png');
    background-size:  70% 100%;
    background-repeat: no-repeat;
    background-position: right top;
    
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
    .nav-bar{
    margin-top: 0%;
    margin-right: 0%;
    }
    
    .title{
    align-items: center;
    color: blue;
    font-size: medium;
    font-family: 'Lato';
    }
    .header li {
    float: left; 
    list-style-type: none;
    text-decoration: none;
    }
    .header a {
    display: inline;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Lato';
    }
    .header a:hover{
        background-color: #FF8923 ;
        border: #FF8923 solid ;
        background-color:#FF8923;
        border-radius: 30px;
        padding: 5px 20px 5px 20px;
    }
    #logIn{
    border: #FF8923 solid ;
    background-color:#FF8923;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    }
    
    .grid-container{
    margin-top: 10%;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
    }
    .column1{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: #534D4D;
    }
    
    .column2 img{
       max-width: 100%;
        max-height: 100%;
    }
    #paragraph{
    font-size: 20px;
    color: #534D4D;
    font-family: 'Roboto';
    }
    #btn{
     display: flex;
    flex-direction: row;
    align-self: baseline;
    margin-left: 12%;
    background-color: #3D37F1;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    padding: 10px 40px 10px 40px;
    color: white;
    font-weight: bold;
    border: 1px  solid blue;
    text-align: center;
    box-shadow: #3D37F1 0px 5px 10px 0px;
    outline: none;
    }
    #btn p{
        align-self: center;
        margin-left: 15px;
        font-weight: bold;
        font-size: 15px;
    }
    #btn img{
        align-self: center;
    }
    .column1 h1{
      font-family: 'Lato';
    }
.contact_form{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    column-gap: 10%;
    margin-left: 10%;
}
.form{
    display: flex;
    flex-direction: column;
}
.form h2{
    font-family: 'Lato';
    color: #564FD6;
    font-size: 2rem;
}
 
.real_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

}
.real_form input{
    text-decoration: transparent;
    background: transparent;
    border-top: white;
    border-right: white;
    border-left: white;
    border-bottom: 2px solid#564FD6;
    width: 70%;
    height: 50px;
    font-family: 'Roboto';
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form_image img{
    max-width:100% ;
    max-height: 100%;
    margin-top: 25%;
}
.real_form input[type="submit"]{
    border: 2px solid#564FD6 ;
    color: #564FD6 ;
    font-family: 'Roboto';
    font-weight: bold;
}
.real_form input:focus{
  outline: none;
}
.real_form input[type="submit"]:hover{
    background-color: #564FD6 ;
    color: white;
}
.real_form input::placeholder{
    font-family: 'Roboto';
}
.real_form input:focus::placeholder{
    transform: translateY(-100%);
    transition: 0.5s ease-in ;
    animation-fill-mode: forwards;
    animation: place_holder;
}
@keyframes place_holder{
    0%   { transform:translateY(0%);}
    50%  { transform:translateY(-50%);}
    100% { transform:translateY(-100%);}
}


.location{
    margin-top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    column-gap: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
.location_map{
    display: flex;
    flex-direction: column;
    background-image: url(./images/contact/map.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-content: center;
    justify-content: center;
    opacity: 0.9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.location_data{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(#A5A2F6,#564FD6);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.location_data h2{
    color: white;
    font-family: 'Roboto';
}
.location_data a{
   text-decoration: none;
   font-family: 'Roboto';
   font-weight: bold;
   font-size: 1rem;
   color: white;
   border:  5px solid white;
   padding: 10px;
   align-self: center;
}
.location_data p{
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
}
.location_data a:hover{
    background-color: white;
    border:  5px solid ,#564FD6;
    color: #564FD6;

}
.newsletter{
    margin-top: 20%;
    display: grid;
    grid-template-columns: 1fr;
    width: 60%;
    margin-left: 20%;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.newsletter h2{
    text-align: center;
    color: #564FD6;
    font-family: 'Lato';
    font-size: 2rem;
}
.newsletter form{
    margin-top: 5%;
    
}
.newsletter input[type="email"]{
    background: transparent;
    border-top: white;
    border-right: white;
    border-left: white;
    border-bottom: 2px solid#564FD6;
    margin-left: 30%;
    width: 40%;
    height: 50px;
}
.newsletter input[type="submit"]{
    background: transparent;
    border: 2px solid#564FD6 ;
    color: #564FD6 ;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 10px;
    margin-left: 25px;
    
}
.newsletter input[type="submit"]:hover{
    background-color: #564FD6 ;
    color: white;
}
.newsletter input[type="email"]:focus{
    outline: none;
}
.newsletter input:focus::placeholder{
    transform: translateY(-100%);
    transition: 0.5s ease-in ;
    animation-fill-mode: forwards;
    animation: place_holder;
}
.newsletter input::placeholder{
    font-family: 'Roboto';
}
.footer{
    margin-top: 15%;
}
@media screen and (max-width: 600px){
     body{
         display: grid;
     }
     .header{
        background-image: none;
    }

.flex-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin-left: 0;
   }
 .title{
     font-size: 4rem;
     margin-bottom: 10%;
     width: 100%;
    text-align: center;
 }
.nav-bar{
   display: flex;
   flex-direction: row;
   width: max-content;
   height: auto;
   flex-wrap: wrap;
   background-image: linear-gradient(rgb(132, 132, 252), blue);
   }
.nav-bar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;   
}
.nav-bar li{
    font-size: 2rem;
}

 .contact_form{
        margin-top: 10%;
        display: grid;
        grid-template-columns:  1fr ;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }
    .form{
        margin-top: 10%;
        width: 100%;
    }
    .form h2{
        text-align: center;
        font-size: 4rem;
    }
    .real_form{
        font-size: 2rem;
        width: 100%;
    
    }
    .real_form input{
       font-size: 2rem;
        width: 100%;
        height: 50px;
       
    }
    .real_form input[type="submit"]{
        height: 4rem;
    }
    
    .location{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        row-gap: 10%;
        margin-top:15%;
        margin-left: 10%;
    }
    .location_data a{
        font-size: 3rem;
     }
     .location_data p{
         font-size: 3rem;
     }
     
     .newsletter  {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr;
         margin-top: 75%;
         width: 100%;
     }
     .location_data h2{
        text-align: center;
        font-size: 3rem;
    }
    .newsletter{
        width: 100%;
        margin-left: 5%;
    }
     .newsletter form{
         display: flex;
         flex-direction: row;
         width: 100%;
         margin-left: 0;
     }
     .newsletter h2{
         font-size: 3rem;
     }
     .newsletter input[type="email"]{
         font-size: 2rem;
         width: 100%;
         align-self: flex-start;
     }
     .newsletter input[type="submit"]{
         font-size: 2rem;
         width: fit-content;
}
}
@media (max-width:1100px){
    body{
        display: grid;
        font-size: 2rem;
    }
   .header{
       background-image: none;
   }
   .nav-bar{
     background-image: linear-gradient(rgb(132, 132, 252), blue);
   }
 .our_success{
     width: 100%;
     margin-left: 0;
 }
 .our_success_text{
     text-align: center;
 }
 
}
