    
        *{ box-sizing: border-box;
        }
.content{
            margin-top: 10%;
            display: grid;
            padding: 10px;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 5%;
            justify-content: space-around;
            width: 90%;
            margin-left: 5%;
            background-image: url('./about.jpg');
            background-size: contain;
            background-repeat: repeat;
            opacity: 0.7;
        }

 h4{
            font-family: 'Roboto';
            font-size: 2em;
        }    
.hiring{
            font-family: 'Roboto';
            color: white;
            background-color: #2f45c4 ;
            border-radius: 30%;
            text-align: center;
            overflow: visible;
            width: 350px;
            height: 250px;
        }    
.customers{
            font-family: 'Roboto';
            color: white;
            background-color: #5467d3 ;
            border-radius: 30%;
            text-align: center;
            width: 350px;
            height: 250px;
        }
.blog_post{
            font-family: 'Roboto';
            color: white;
            background-color: #8c9cf3 ;
            border-radius: 30%;
            text-align: center;
            width: 350px;
            height: 250px;
        }
 a {
    
    display: inline-block;
    padding: 15px 30px;
    color:white;
    text-transform: upper;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover{
    color: white;
    background: #2186f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2169f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}
